@import "assets/styles/colors";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 5rem;
  background-color: black;
  padding: 1.125rem 0;

  &__icon {
    width: 40px;
    height: 59px;
  }

  &__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $color-yellow;
  }
}