@import "assets/styles/colors";
@import "assets/styles/breakpoints";

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 1.5rem 5.063rem 1.306rem 5.063rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__logo {
    width: 6.5rem;
    height: 2.194rem;
    pointer-events: none;
  }

  &_stackCustom {
    gap: 1rem !important;
    max-width: 16.5rem;
    width: 100%;

    &__button {
      position: relative;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      text-align: center;
      color: white;
      width: fit-content;

      &-text {
        display: inline-block;
        font-size: 1.125rem;
        line-height: 1.35rem;
        background: linear-gradient(98.25deg, $color-yellow 18.56%, $color-rose 76.02%);
        background-size: 200% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: white;
        transition: background-position 0.3s ease, -webkit-text-fill-color 0.3s ease;
        animation: none;

        &:hover {
          background-position: 100% 0;
          -webkit-text-fill-color: transparent;
          animation: gradientAnimation 1s linear 0.5s infinite running;
        }
      }
    }

    &__bucket-icon {
      position: relative;
      display: inline-block;
      width: 1.5rem;
      height: 1.298rem;
      cursor: pointer;
      background: url('../../../assets/images/bucket.svg') no-repeat center;
      background-size: contain;
      transition: background 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(140.47deg, $color-yellow 26.02%, $color-rose 90.57%);
        background-size: 200% 100%;
        mask: url('../../../assets/images/bucket.svg') no-repeat center;
        mask-size: contain;
        -webkit-mask: url('../../../assets/images/bucket.svg') no-repeat center;
        -webkit-mask-size: contain;
        transition: opacity 0.3s ease, background-position 0.3s ease;
        opacity: 0;
      }

      &:hover::before {
        opacity: 1;
        background-position: 100% 0;
        animation: gradientAnimation 1s linear 1s infinite running;
      }
    }
  }

  &__menu-icon {
    display: none;
  }
}

@include between(md, lg) {
  .header {
    padding: 1.75rem 1.875rem;

    &__logo {
      width: 4.444rem;
      height: 1.5rem;
    }

    &_stackCustom {
      width: inherit;
    }
  }
}

@include down(md) {
  .header {
    padding: 0.75rem 1.25rem;

    &__logo {
      width: 4.444rem;
      height: 1.5rem;
    }

    &__menu-icon {
      display: flex;
    }

    &_stackCustom {
      display: none !important;
    }
  }
}