@import "assets/styles/breakpoints";

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;

  &__container {
    gap: 3.875rem !important;
    padding: 3.625rem 5rem 3.75rem;

    @include down(md) {
      gap: 3.438rem !important;
      padding: 3.438rem 1.875rem 3.313rem;
    }

    @include down(sm) {
      gap: 3.125rem !important;
      padding: 3.125rem 1.25rem;
    }
  }
}