@import "assets/styles/colors";

.banner {
  display: flex;
  width: 100%;
  height: 34.688rem; // TODO
  background-image: url('../../../../../assets/images/earth.svg'), url('../../../../../assets/images/spase1.svg');
  background-position: right center, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  align-items: center;

  @media (max-width: 768px) {
    background-position: right -25% center, right bottom;
  }

  @media (max-width: 360px) {
    background-position: top -83% left -60%, right bottom;
    align-items: flex-end;
  }

  &_stackCustom {
    width: 60%;
    padding: 5.094rem;
    align-items: flex-start;

    @media (max-width: 768px) {
      padding: 1.875rem;
    }

    @media (max-width: 360px) {
      width: 100%;
      gap: 1.063rem !important;
      justify-content: center !important;
      padding: 2.125rem;
    }

    &__title {
      font-size: 4.5rem;
      line-height: 4.5rem;

      &-rose {
        color: $color-rose;
      }

      @media (max-width: 768px) {
        font-size: 3rem;
        line-height: 3rem;
      }

      @media (max-width: 360px) {
        text-align: center;
        font-size: 2.25rem;
        line-height: 2.25rem;
      }
    }

    &__subtitle {
      font-size: 2rem;
      line-height: 2.4rem;

      &-yellow {
        color: $color-yellow;
      }

      @media (max-width: 768px) {
        font-size: 1.375rem;
        line-height: 1.65rem;
      }

      @media (max-width: 360px) {
        text-align: center;
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }

    &__btn {

    }
  }
}