@import "assets/styles/colors";
@import "assets/styles/breakpoints";

.banner {
  display: flex;
  width: 100%;
  height: 34.688rem; // TODO
  background-image: url('../../../../../assets/images/earth.svg'), url('../../../../../assets/images/spase1.svg');
  background-position: right center, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  align-items: center;

  @include down(lg) {
    background-position: right -15% center, right bottom;
  }

  @include down(md) {
    background-position: top -80% center, right bottom;
    align-items: flex-end;
  }

  &_stackCustom {
    width: 60%;
    padding: 5.094rem;
    align-items: flex-start !important;

    @include between(md, lg) {
      padding: 1.875rem;
    }

    @include down(md) {
      width: 100%;
      gap: 1.063rem !important;
      justify-content: center !important;
      padding: 2.75rem 0;
      align-items: center !important;
    }

    &__title {
      @include down(md) {
        text-align: center;
      }

      &_text {
        font-size: 4.5rem;
        line-height: 4.5rem;

        &-rose {
          color: $color-rose;
        }

        @include between(md, lg) {
          font-size: 3rem;
          line-height: 3rem;
        }

        @include down(md) {
          font-size: 2.25rem;
          line-height: 2.25rem;
        }
      }
    }

    &__subtitle {
      font-size: 2rem;
      line-height: 2.4rem;

      &-yellow {
        color: $color-yellow;
      }

      @include between(md, lg) {
        font-size: 1.375rem;
        line-height: 1.65rem;
      }

      @include down(md) {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}