@import "assets/styles/colors";

.app {
  &__container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(196.2deg, $color-dark-blue 0%, $color-blue 100%);
    color: white;
    width: 100%;
    max-width: 78rem; // 1248px
    margin: 0 auto;
  }
}
