.stack {
  display: flex;

  &__item {
    /* Note: for children if needed */
  }

  &_row {
    flex-direction: row;
  }

  &_column {
    flex-direction: column;
  }

  &_align-start {
    align-items: flex-start;
  }

  &_align-center {
    align-items: center;
  }

  &_align-end {
    align-items: flex-end;
  }

  &_align-stretch {
    align-items: stretch;
  }

  &_justify-start {
    justify-content: flex-start;
  }

  &_justify-center {
    justify-content: center;
  }

  &_justify-end {
    justify-content: flex-end;
  }

  &_justify-between {
    justify-content: space-between;
  }

  &_justify-around {
    justify-content: space-around;
  }
}
